#textdomain wesnoth-Northern_Rebirth_Rewritten

############## ZLEX ##############

#define AMLA_ZLEX
    {AMLA_OPTION_STRENGHT}
    {AMLA_OPTION_AGILE}
    {AMLA_OPTION_RESISTANCE}
    {AMLA_OPTION_ADVANCED_MEDICINE}
    {AMLA_OPTION_SKIRMISHER}
    {AMLA_DEFAULT}
#enddef

#define AMLA_OPTION_STRENGHT

    [advancement]
        max_times=4
        description=_"+2 melee damage"
        image=attacks/club.png
        id=strenght
        strict_amla=yes
        [effect]
            apply_to=attack
            name=club
            increase_damage=2
        [/effect]
        [effect]
            apply_to=hitpoints
            heal_full=yes
        [/effect]
#ifdef EASY
        [effect]
            apply_to=max_experience
            increase=5%
        [/effect]
#endif
#ifdef NORMAL
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
#endif
#ifdef HARD
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
#endif
    [/advancement]
#enddef

#define AMLA_OPTION_AGILE
    [advancement]
        max_times=4
        description=_"+2 melee damage"
        image=attacks/sling.png
        id=agile
        strict_amla=yes
        [effect]
            apply_to=attack
            name=sling
            increase_damage=2
        [/effect]
        [effect]
            apply_to=hitpoints
            heal_full=yes
        [/effect]
#ifdef EASY
        [effect]
            apply_to=max_experience
            increase=5%
        [/effect]
#endif
#ifdef NORMAL
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
#endif
#ifdef HARD
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
#endif
    [/advancement]
#enddef

#define AMLA_OPTION_RESISTANCE
    [advancement]
        max_times=4
        description=_"+1 movement, + 10 hitpoints"
        image=attacks/rectangular-shield.png
        id=resistance
        strict_amla=yes
        [effect]
            apply_to = movement
            increase = 1
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 10
            heal_full = yes
        [/effect]
#ifdef EASY
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
#endif
#ifdef NORMAL
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
#endif
#ifdef HARD
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
#endif
    [/advancement]
#enddef

#define AMLA_OPTION_ADVANCED_MEDICINE
    [advancement]
        max_times=1
        description=_"Gives +8 heals with cures"
        image=icons/herb-bag.png
        id=advanced_medicine
        strict_amla=yes
        [effect]
            apply_to = new_ability
            [abilities]
                {ABILITY_CURES}
            [/abilities]
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 3
            heal_full = yes
        [/effect]
#ifdef EASY
        [effect]
            apply_to=max_experience
            increase=16%
        [/effect]
#endif
#ifdef NORMAL
        [effect]
            apply_to=max_experience
            increase=18%
        [/effect]
#endif
#ifdef HARD
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
#endif
    [/advancement]
#enddef

#define AMLA_OPTION_SKIRMISHER
    [advancement]
        max_times=1
        description=_"Give skirmisher ability"
        image=icons/sandals.png
        id=skirmisher
        strict_amla=yes
        [effect]
            apply_to = new_ability
            [abilities]
                {ABILITY_SKIRMISHER}
            [/abilities]
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 3
            heal_full = yes
        [/effect]
#ifdef EASY
        [effect]
            apply_to=max_experience
            increase=16%
        [/effect]
#endif
#ifdef NORMAL
        [effect]
            apply_to=max_experience
            increase=18%
        [/effect]
#endif
#ifdef HARD
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
#endif
    [/advancement]

    ############## TALLIN OPTIONS ##############

#define AMLA_TALLIN
    {AMLA_OPTION_STRENGHT}
    {AMLA_OPTION_RESISTANCE}
    {AMLA_OPTION_INITIATIVE}
    {AMLA_OPTION_COMMANDER}
    {AMLA_DEFAULT}
#enddef

#define AMLA_OPTION_STRENGHT
    [advancement]
        max_times=5
        description=_"+2 melee damage"
        image=attacks/club.png
        id=strenght
        strict_amla=yes
        [effect]
            apply_to=attack
            name=club
            increase_damage=2
        [/effect]
        [effect]
            apply_to=hitpoints
            heal_full=yes
        [/effect]
#ifdef EASY
        [effect]
            apply_to=max_experience
            increase=5%
        [/effect]
#endif
#ifdef NORMAL
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
#endif
#ifdef HARD
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
#endif
    [/advancement]
#enddef

#define AMLA_OPTION_RESISTANCE
    [advancement]
        max_times=4
        description=_"+1 movement, + 10 hitpoints"
        image=attacks/rectangular-shield.png
        id=resistance
        strict_amla=yes
        [effect]
            apply_to = movement
            increase = 1
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 10
            heal_full = yes
        [/effect]
#ifdef EASY
        [effect]
            apply_to=max_experience
            increase=10%
        [/effect]
#endif
#ifdef NORMAL
        [effect]
            apply_to=max_experience
            increase=15%
        [/effect]
#endif
#ifdef HARD
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
#endif
    [/advancement]
#enddef

#define AMLA_OPTION_INITIATIVE
    [advancement]
        max_times=1
        id=initiative
        description= _ "Gives initiative ability"
        strict_amla=yes
        require_amla=strenght,resistance
        image=attacks/quarterstaff.png
        [effect]
            apply_to = new_ability
            [abilities]
                {ABILITY_INITIATIVE}
            [/abilities]
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 3
            heal_full = yes
        [/effect]
    [/advancement]
#enddef

#define AMLA_OPTION_COMMANDER
    [advancement]
        max_times=1
        description=_"Gives leadership ability"
        image="attacks/quarterstaff.png"
        id=commander
        strict_amla=yes
        require_amla=initiative
        [effect]
            apply_to = new_ability
            [abilities]
                {ABILITY_LEADERSHIP}
            [/abilities]
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 3
            heal_full = yes
        [/effect]
    [/advancement]
#enddef
