#textdomain wesnoth-Northern_Rebirth_Rewritten

#define COMMON_AMLA_EFFECTS
    # Make the XP bar blue instead of purple.
    major_amla=yes
    always_display=yes
    [effect]
        apply_to=hitpoints
        heal_full=yes
    [/effect]
    [effect]
        apply_to=status
        remove=poisoned
    [/effect]
    [effect]
        apply_to=status
        remove=slowed
    [/effect]
    [effect]
        apply_to=max_experience
        increase=6%
    [/effect]
    [effect]
        apply_to=max_experience
    [effect]

   [effect]
        [filter]
            level=1
            formula="max_experience > 21"
#endif
        [/filter]
        apply_to=level
        set=2
    [/effect]
    [effect]
        [filter]
            level=2
            formula="max_experience > 31"
#endif
        [/filter]
        apply_to=level
        set=3
    [/effect]
#enddef

#define TALLIN_ADVANCEMENTS
    [advancement]
        id = swordsmanship_training
        description = _"Swordsmanship Training"
        image = attacks/sword-human.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to = attack
            name = sword
            increase_damage = 1
        [/effect]
        [effect]
            apply_to = attack
            name = sword
            increase_attacks = 1
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 2
            heal_full = yes
        [/effect]
    [/advancement]

    [advancement]
        id = strong_strikes
        description = _"Strong Strikes"
        image = attacks/sword-human.png
        require_amla = swordsmanship_training
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to = attack
            name = sword
            increase_damage = 2
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 1
            heal_full = yes
        [/effect]
    [/advancement]

    [advancement]
        id = swordsman
        description = _"Swordsman"
        image = attacks/sword-human.png
        require_amla = strong_strikes
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to = attack
            name = sword
            increase_damage = 1
        [/effect]
        [effect]
            apply_to = attack
            name = sword
            increase_attacks = 1
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 2
            heal_full = yes
        [/effect]
    [/advancement]
    
    [advancement]
        id = strength_training
        description = _"Strength Training"
        image = attacks/sword-human.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to = attack
            name = sword, crossbow
            increase_damage = 1
        [/effect]
    [/advancement]

    [advancement]
        id = crossbowmanship_training
        description = _"Crossbowmanship Training"
        image = attacks/crossbow-human.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to = attack
            name = crossbow
            increase_damage = 1
            increase_attacks = 1
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 2
            heal_full = yes
        [/effect]
    [/advancement]

    [advancement]
        id = strong_shots
        description = _"Strong Shots"
        image = attacks/crossbow-human.png
        require_amla = crossbowmanship_training
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to = attack
            name = crossbow
            increase_damage = 2
        [/effect]
    [/advancement]

    [advancement]
        id = Crossbowman
        description = _"Crossbowman"
        image = attacks/crossbow-human.png
        require_amla = strong_shots
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to = attack
            name = crossbow
            increase_accuracy = 10
        [/effect]
        [effect]
            apply_to = attack
            name = crossbow
            increase_damage = 2
        [/effect]
    [/advancement]

    [advancement]
        id = stamina_training
        description = _"Stamina Training"
        image = icons/sandals.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to = movement
            increase = 1
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 10
            heal_full = yes
        [/effect]
    [/advancement]

    [advancement]
        id = endurance_training
        description = _"Endurance Training"
        image = icons/potion_red_medium.png
        require_amla = stamina_training
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to = hitpoints
            increase_total = 15
            heal_full = yes
        [/effect]
    [/advancement]

    [advancement]
        id = hero
        description = _"Hero"
        image = attacks/quarterstaff.png

        require_amla = stamina_training
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to = new_ability
            [abilities]
                {ABILITY_INSPIRES}
            [/abilities]
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 3
            heal_full = yes
        [/effect]
    [/advancement]

 [advancement]
        id = initiator
        description = _"Initiator"
        image = attacks/quarterstaff.png

        require_amla = stamina_training
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to = new_ability
            [abilities]
                {ABILITY_INITIATIVE}
            [/abilities]
        [/effect]
        [effect]
            apply_to = hitpoints
            increase_total = 3
            heal_full = yes
        [/effect]
    [/advancement]
#enddef


[unit_type]
	[base_unit]
	id=Sergeant
	[/base_unit]
	id=Tallin
	name= _ "Tallin"
	race=human
	gender=male
	
	image="units/human-loyalists/sergeant.png"
	profile="portraits/tallin.png"

    [defense]
    castle=40
    cave=30
    coastal_reef=80
    hills=50
    fungus=50
    forest=50
    village=40
    frozen=80
    sand=70
    swamp=80
    flat=60
    mountains=50
    shallow_water=80
    [/defense]

    [resistance]
    arcane=100
    fire=100
    cold=100
    blade=120
    impact=120
    pierce=120
    [/resistance]

	experience=19
	level=1
	advances_to=null
	{AMLA_DEFAULT}
	alignment=lawful
	
	usage=fighter
	description= _ "Tallin was born as slave of orcs in Dwarven Doors. He always dreamed to get free, maybe this chance will be succesful?"
	die_sound=human-die.ogg

	 [attack]
        name=sword
        description=_"sword"
        icon=attacks/sword-human.png
        type=blade
        range=melee
        damage=6
        number=3
    [/attack]

    [attack]
        name=crossbowbow
        description=_"crossbowbow"
        icon=attacks/crossbow-human.png
        type=pierce
        range=ranged
        damage=4
        number=3
    [/attack]

[/unit_type]
