#textdomain wesnoth-nrr
[scenario]
    id=13_New_friends
    name= _ "New friends"
    map_file=13_New_friends.map
    turns=unlimited
    next_scenario=14_In_the_center_of_war
    victory_when_enemies_defeated=yes
    {DEFAULT_SCHEDULE}
    current_time=2
    {SCENARIO_MUSIC Enchanted_Forest.ogg}
    {EXTRA_SCENARIO_MUSIC elf-land.ogg}
    {EXTRA_SCENARIO_MUSIC elvish-theme.ogg}
    

    [story]
        [part]
            music=love_theme.ogg
            story= _ "Relieved by the victory and rescuing the princess Tallin's company were following Hidel to the capital of elvish kingdom."
        [/part]
        [part]
            story= _ "While walking Tallin noticed Zlex wondering on something and looking on Eryssa."
        [/part]
        [part]
            story= _ "Princess felt a gaze on her but decided to mantain her official compulsure. Just from time to time she were turning back her head to see Zlex wondering about her."
        [/part]
        [part]
            story= _ "Lurb and Dulcatulos paid no attention to whole scene as they were busy with talk about the military issues and strategies to defeat Rankhas.. And so they finally found themselves in castle of Velon, the mighty king of elves."
        [/part]
    [/story]

     [side]
        side=1
	    controller=human
        canrecruit=yes
        team_name=Allies
        user_team_name=_"Dwarven Doors"
        controller=human
        {GOLD 500 400 300}
        {FLAG_VARIANT long}

	 # wmllint: recognize Tallin
        {CHARACTER_STATS_TALLIN}
    [/side]

    [side]
        side=2
        id=Ragdush
        name= _ "Ragdush"
        type=Orcish Sovereign
	    controller=ai
        canrecruit=yes
        recruit=Wolf Rider,Orcish Assassin,Orcish Archer, Orcish Grunt, Orcish Warrior, Orcish Crossbowman, Goblin Knight, Goblin Pillager, Orcish Slayer
        {GOLD 600 500 400}
        team_name=Allies
        user_team_name=_"Ragdush's clan"
	{FLAG_VARIANT ragged}
    [/side]

     [side]
	    side=3
        id=Velon
        name= _ "Velon"
        type=Elvish High Lord
        profile=portraits/Velon.webp
        canrecruit=yes
        controller=ai
        recruit=
        [modifications]
        {TRAIT_AGED}
        [/modifications]
        gold=500
        team_name=Allies
        user_team_name=_"Northern Elves"
        {FLAG_VARIANT wood-elvish}
         {STARTING_VILLAGES 3 20}
    [/side]

     [side]
	    side=4
        id=Hidel
        name= _ "Hidel"
        type=Elvish Marshal
        profile=portraits/Hidel.webp
        canrecruit=yes
        controller=ai
        recruit=Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Fighter,Elvish Archer
        {GOLD 200 250 340}
        team_name=Allies
        user_team_name=_"Northern Elves"
        {FLAG_VARIANT wood-elvish}
    [/side]

    [event]
    name=prestart  

        [recall]
            id=Zlex
        [/recall]
        [recall]
            id=Dulcatulos
        [/recall]
        [recall]
            id=Lurb
        [/recall]
        [recall]
            id=Almaldor
        [/recall]
        [recall]
            id=Korrok
        [/recall]
        [recall]
            id=Zatrog
        [/recall]
        [recall]
            id=Ronry
        [/recall]
        [recall]
			id=Eryssa
			x=22
			y=17
		[/recall]
        
    
[/event]
    [event]
    name=start 
        [message]
            speaker=Velon
            message= _ "I see my daughter safe and alright! What a happiness in these hard times."
        [/message]
        [message]
            speaker=Hidel
            message= _ "I've only did my duty my lord."
        [/message]
	    [message]
            speaker=Velon
            message= _ "Did you really get help from these orcs? That's very unusual I must say."
        [/message]
        [message]
            speaker=Ragdush
            message= _ "Will you help us in war with Rakshas now?"
        [/message]
        [message]
            speaker=Velon
            message= _ "He's a danger to us elves as well. I am not used to help orcs but seems like I have no choice."
        [/message]
        [message]
            speaker=Eryssa
            message= _ "Father, do you think we will need a big army? The Rakshas' clan looks rather big while we..."
        [/message]
        [message]
            speaker=Hidel
            message= _ "Do not despair princess. My loyal warriors will fight like never before. We will follow you to the end of the world if need be."
        [/message]
        [message]
            speaker=Tallin 
            message= _ "People of Dwarven Doors are ready to fight either."
        [/message]
        [message]
            speaker=Ragdush 
            message= _ "Elves, our ancestors were often hostile and fought with each other. Prove with your strenght that we can be side by side."
        [/message]
        [message]
            speaker=Velon
            message= _ "I have no doubts Hidel will lead the warriors into victory."
        [/message]
        [message]
            speaker=Hidel
	    message= _ "With your persmission your highness... One of my best archeresses Sisal would can sneak into enemies keeps and assassinate the leaders while we would defend the fortress..."
        [/message]
        [message]
            speaker=Velon
            message= _ "I agree..."
        [/message]
        [message]
            speaker=Hidel
            message= _ "Sisal!"
        [/message]
        # wmllint: recognize Sisal
        [unit]
        {CHARACTER_STATS_SISAL}           
        x,y=1,12
        side=4
        [/unit]
        {MOVE_UNIT id=Sisal 8 15}

        [message]
            speaker=Sisal
            message= _ "I am here, your orders sir?"
        [/message]
        [message]
            speaker=Hidel
            message= _ "You will use your skills and kill the enemy leaders."
        [/message]
        [message]
            speaker=Sisal
            message= _ "It will be done."
        [/message]
        [modify_unit]
            [filter]
                id=Sisal
            [/filter]
                side=1
        [/modify_unit]

        [if]
            [have_unit]
                id=Zatrog
            [/have_unit]
        [then]

        [message]
            speaker=Zatrog
            message= _ "I wanna join Sisal in her quest."
        [/message]

        [message]
            speaker=Hidel
            message= _ "What do you think of this Sisal?"
        [/message]

        [message]
            speaker=Sisal
            message= _ "Help in dangerous quest is a good think. Thank you Zatrog."
        [/message]
        [message]
            speaker=Zatrog
            message= _ "My pleasure. Sneaking into enemy keeps is what I know far better than fight on the battlefield."
        [/message]
        [modify_unit]
            [filter]
                id=Zatrog
            [/filter]
            [object]
                silent=yes
                duration=forever
                [effect]
                    apply_to=new_ability
                    [abilities]
                        {ABILITY_AMBUSH}
                        {ABILITY_SKIRMISHER}
                    [/abilities]
                [/effect]
            [/object]
        [/modify_unit]
        [message]
            speaker=Ragdush
            message= _ "Orc on quest together with elf... What a suprise..."
        [/message]
        [/then]
        [/if]
        [message]
            speaker=Lurb
            message= _ "We will prepare the defence meanwhile."
        [/message]
        [harm_unit]
        [filter]
        id=Velon
        [/filter]
        amount=4
        animate=yes
        [/harm_unit]
        [sound]
            name=elf-hit-1.ogg
        [/sound]
        [message]
            speaker=Eryssa
            message= _ "Father!"
        [/message]
        [message]
            speaker=Hidel
            message= _ "Are you alright my lord?"
        [/message]
        [message]
            speaker=Velon
            message= _ "It's just..."
        [/message]
        [message]
            speaker=Velon
            message= _ "Yes, my time is ending..."
        [/message]
        [message]
            speaker=Eryssa
            message= _ "No! Father you cannot die! Listen to me, please!"
        [/message]
        [message]
            speaker=Velon
            message= _ "You will be the queen Eryssa. Now take a rest, you deserve it after being held as prisoner..."
        [/message]
        [message]
            speaker=Eryssa
            message= _ "I am so scared, I don't have your wisdom, how will I rule? Father, you must live!"
        [/message]
        [message]
            speaker=Eryssa
            message= _ "You cannot die..."
        [/message]
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
[/event]
{HERODEATH_EVERYONE}
[/scenario]
