#textdomain wesnoth-nrr
[scenario]
    id=15_Final_confrontation
    name= _ "Final Confrontation"
    map_file=15_Final_confrontation.map
    {TURNS 35 30 25}
    next_scenario=Epilogue
    victory_when_enemies_defeated=no
    {DEFAULT_SCHEDULE}
    current_time=1
    {SCENARIO_MUSIC battle-epic}
    {EXTRA_SCENARIO_MUSIC battle}
    {EXTRA_SCENARIO_MUSIC casualties_of_war}
    

    [story]
        [part]
            music=the_king_is_dead.ogg
            story= _ "Few days after the meeting illness took over the old king. Seeing him in this bad condition worried Hidel but he called Eryssa as the king wanted."
        [/part]
        [part]
            story= _ "With tears streaming down her face, Eryssa knelt before Velon's deathbed. Her face streaked with tears, Eryssa gazed on dying father scared like never before, not even when she got captured She was so afraid of ruling when her father will pass away."
        [/part]
        [part]
            story= _ "Velon adressed the princess his last speech calling her to be a good heir of him. Then Velon closed his eyes and took one last breath It was clear that his reign had been a valor and glory, worthy to be remembered in the songs."
        [/part]
        [part]
            story= _ "After this Eryssa returned outside where the allies have been waiting. Her eyes was still full of tears and pain."
        [/part]
        [part]
            story= _ "Slowly Zlex approached her. He hesitated before wrapping her gently in his arms."
            music=love_theme.ogg
        [/part]
        [part]
            story= _ "Sobbing against Zlex's chest, Eryssa told him of the many ways her father had cherished and warded her. How he had comforted her childhood hurts; how in later years, he had guided her in the green paths of the forest, and taught her the deep mysteries of elven-kind."
        [/part]
        [part]
            story= _ "The torrent of childhood memories and the depth of her grief left her unable to speak. She and Zlex sat together silently holding each-other for some time."
        [/part]
        [part]
            story= _ "After some time Hidel gently reminded that Rankhas is preparing the besiege of the capital and that elves need to mobilize and so their allies."
        [/part]
        [part]
            story= _ "At these words, Eryssa arose and wiped away her tears. To everyone's suprise she followed Tallin's warriors. Meanwhile Hidel mobilized elves to defend the center of forest letting Tallin attack from back."
            music=siege_of_laurelmor.ogg
        [/part]
        [part]
            story= _ "To their suprise the attackers wasn't orcs but drakes and saurians. Hidel took it as sign of weakness seeing only mercenaries besieging the fortress."
        [/part]
    [/story]

     [side]
        side=1
	    controller=human
        canrecruit=yes
        team_name=Allies
        user_team_name=_"Dwarven Doors"
        controller=human
        {GOLD 300 250 200}
        {FLAG_VARIANT long}

	 # wmllint: recognize Tallin
        {CHARACTER_STATS_TALLIN}
    [/side]

    [side]
	    side=2
        controller=ai
        id=Hamel
        name= _ "Hamel"
        type=Dwarvish Lord
	    profile=portraits/Hamel.webp
        canrecruit=yes
        recruit=Dwarvish Fighter,Dwarvish Steelclad, Dwarvish Scout, Dwarvish Pathfinder, Dwarvish Guardsman, Dwarvish Stalwart
        {GOLD 340 300 260}
        team_name=Allies
        user_team_name=_ "Hamel's Clan"
        {FLAG_VARIANT knalgan}
    [/side]

    [side]
        side=3
        controller=ai
	    recruit=Orcish Grunt,Orcish Archer,Wolf Rider,Orcish Assassin,,Orcish Warrior,Orcish Crossbowman,Orcish Slayer, Goblin Knight, Goblin Pillager
        {GOLD 700 850 1000}
        team_name=Rankhas
        user_team_name= _ "Rankhas' troops"
        {FLAG_VARIANT6 ragged}

        # wmllint: recognize Rakshas
        {CHARACTER_STATS_RAKSHAS}
    [/side]

    [side]
        side=4
        controller=ai
        type=Orcish Sovereign
        id=Ragdush
        name= _ "Ragdush"
        canrecruit=yes
        recruit=Orcish Grunt, Orcish Warrior, Orcish Archer, Orcish Crossbowman, Orcish Assassin, Orcish Slayer, Goblin Knight, Goblin Pillager, Wolf Rider
        {GOLD 300 260 220}
        team_name=Allies
        user_team_name=_"Ragdush's clan"
	    {FLAG_VARIANT ragged}
    [/side]

    [side]
	    side=5
        id=Hidel
        name= _ "Hidel"
        type=Elvish Marshal
        profile=portraits/Hidel.webp
        canrecruit=yes
        controller=ai
        recruit=Elvish Captain,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Fighter,Elvish Archer
        {GOLD 360 320 280}
        team_name=Allies
        user_team_name=_"Northern Elves"
        {FLAG_VARIANT wood-elvish}
    [/side]

        [side]
	    side=6
        controller=ai
        id=Ruuk
        name= _ "Ruuk"
        type=Great Troll
        profile=portraits/Ruuk.webp
        canrecruit=yes
        recruit=Troll Whelp, Troll, Troll Rocklobber
        {GOLD 380 340 300}
        team_name=Allies
        user_team_name=_ "Ruuk's clan"
        {FLAG_VARIANT ragged}
    [/side]

    [side]
	    side=7
        id=Stalrag
        name= _ "Stalrag"
        type=Dwarvish Lord
	    profile=portraits/Stalrag.webp
        canrecruit=yes
        controller=ai
        recruit=Dwarvish Fighter, Dwarvish Steelclad, Dwarvish Scout, Dwarvish Thunderer, Dwarvish Thunderguard, Dwarvish Pathfinder
        {GOLD 290 230 190}
        team_name=Allies
        user_team_name=_"Stalrag's clan"
        {FLAG_VARIANT knalgan}
    [/side]

    [side]
        side=4
        id=Erishnak
        name= _ "Erishnak"
        type=Orcish Warlord
	    controller=ai
        canrecruit=yes
        recruit=Orcish Grunt, Orcish Warrior, Orcish Archer, Orcish Crossbowman, Orcish Assassin, Orcish Slayer, Goblin Knight, Goblin Pillager, Wolf Rider
        {GOLD 450 500 550}
        team_name=Rankhas
        user_team_name=_"Rankhas' troops"
        {FLAG_VARIANT ragged}
    [/side]

    [side]
	    side=3
        id=Hodush
        name= _ "Hodush"
        type=Orcish Warlord
        canrecruit=yes
        controller=ai
        recruit=Orcish Grunt, Orcish Warrior, Orcish Archer, Orcish Crossbowman, Orcish Assassin, Orcish Slayer, Goblin Knight, Goblin Pillager, Wolf Rider
        {GOLD 450 500 550}
        team_name=Rankhas
        user_team_name=_"Rankhas' troops"
        {FLAG_VARIANT ragged}
    [/side]

    [event]
    name=prestart  

        [recall]
            id=Zlex
        [/recall]
        [recall]
            id=Dulcatulos
        [/recall]
        [recall]
            id=Lurb
        [/recall]
        [recall]
            id=Almaldor
        [/recall]
        [recall]
            id=Korrok
        [/recall]
        [recall]
            id=Zatrog
        [/recall]
        [recall]
            id=Ronry
        [/recall]
        [recall]
            id=Eryssa
        [/recall]
        [recall]
            id=Sisal
        [/recall]

           [objectives]
            side=1
            [objective]
                description= _ "Defeat enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Tallin"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Zlex"
                condition=lose
            [/objective]

	        [objective]
                description= _ "Death of Dulcatulos"
                condition=lose
            [/objective]

	        [objective]
                description= _ "Death of Lurb"
                condition=lose
            [/objective]

	        [objective]
                description= _ "Death of Hidel"
                condition=lose
            [/objective]
         [/objectives]
        
    
[/event]

[event]
name=start 
        [message]
            speaker=Hidel
            message= _ "They already came! We must break the besiege or soon we all will be their slaves in chains."
        [/message]
        [message]
            speaker=Eryssa
            message= _ "Defend the fortress, I... I will stay with Tallin's group."
        [/message]
	    [message]
            speaker=Hidel
            message= _ "Are you sure you wanna put yourself in danger my lady? You're our queen, we cannot risk losing you again..."
        [/message]
        [message]
            speaker=Eryssa
            message= _ "I.. I am sure those brave warriors will look after me..."
        [/message]
        [message]
            speaker=Hidel
            message= _ "*sigh* So be it. Try not to get surrounded and better not go into first lines."
        [/message]
        [message]
            speaker=Zlex
            message= _ "Do not worry, we will take care to keep your queen safe!"
        [/message]
        [if]
            [have_unit]
                id=Zatrog
            [/have_unit]
            [then]
            [message]
                    speaker=Tallin
                    message= _ "Zatrog, Sisal, it's your time to attack. Ambush their leaders while we will rush on their forces."
            [/message]
            [/then]
        [/if]
        [else]
            [message]
                    speaker=Tallin
                    message= _ "Sisal, it's your time to attack. Ambush their leaders while we will rush on their forces."
            [/message]
        [/else]
        [message]
            speaker=Lurb
            message= _ "Those forests too hard to move. I prefer good mountains or caves..."
        [/message]
        [message]
            speaker=Dulcatulos 
            message= _ "How we can reach them fast enough?"
        [/message]
        [message]
            speaker=Tallin 
            message= _ "Concentrate first, attack in groups."
        [/message]
        [if]
            [have_unit]
                id=Korrok
            [/have_unit]
            [then]
            [message]
                    speaker=Korrok
                    message= _ "Korrok sees Rankhas hired drakes and saurians. Korrok knows Rakshas weak."
            [/message]
            [/then]
        [/if]
[/event]

[event]
        name=last breath
        [filter]
        id=Klarutin
        [/filter]
        [message]
            speaker=Klarutin
            message= _ "Rakshas promised me power over northlands..."
        [/message] 
[/event]

[event]
        name=last breath
        [filter]
        id=Merish
        [/filter]
        [message]
            speaker=Merish
            message= _ "Why I followed this tyrant..."
        [/message]
[/event]

[event]
        name=last breath
        [filter]
        id=Naixass
        [/filter]
        [message]
            speaker=Naixass
            message= _ "Rakshassss will fall without ssssaurian troops..."
        [/message]
[/event]

[event]
        name=last breath
        [filter]
        id=Fatrax
        [/filter]
        [message]
            speaker=Fatrax
            message= _ "Thisss wasn't an easy target... Argh..."
        [/message]
[/event]

[event]
        name=enemies defeated
        [message]
        speaker=Hidel
        message= _ "We managed to defend our fortress and kept our kin safe! Thank you, you saved us already for a second time.."
        [/message]
        [message]
        speaker=Tallin
        message= _ "Now when Rakshas troops are losing will to fight is a time to call the rest of our allies and prepare counter-attack. Will you help us?."
        [/message]
        [message]
        speaker=Hidel
        message= _ "Surely I will! Northern Elves are grateful for your help and ready to recompensate!"
        [/message]
        [message]
        speaker=Eryssa
        message= _ "*smile* You've always been such a great elf Hidel, take care on yourself, now when I am quenn I need your guide more than even."
        [/message]
        [endlevel]
            result=victory
            bonus=no
        [/endlevel]
[/event]

{HERODEATH_EVERYONE}
[/scenario]
